<a href="https://colab.research.google.com/github/anujthapamagar/FEDS/blob/main/FEDS_exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Import necessary modules

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 2. Here i show a simple function to check if the word or a given string is a palindrome or not.

In [32]:
def isPalindrome(str):

  # Run loop from 0 to len/2
  for i in range(0, int(len(str)/2)):
      if str[i] != str[len(str)-i-1]:
        return print(f"The word is not a palindrome.")
  return print(f"The word is a palindrome.")

In [33]:
isPalindrome("hannah")

The word is a palindrome.

In [34]:
isPalindrome("1234321")

The word is a palindrome.

In [35]:
isPalindrome("ahfhnvvhshsh")

The word is not a palindrome.

## 3. I am using `urlretrieve` to access the data from github. We can also download the data from the web and upload it maniually to our Colab notebook.

In [36]:
from urllib.request import urlretrieve

In [37]:
URL = 'https://raw.githubusercontent.com/stenoe/FEDS/main/data/NEE_data.csv'

In [38]:
urlretrieve(URL, 'NEE_data.csv')

('NEE_data.csv', <http.client.HTTPMessage at 0x7f25e7a25db0>)

In [39]:
df = pd.read_csv("NEE_data.csv")
df

,timestamp,Year,Month,Day,Hour,DoY,Tair_f,NEE_f,GPP_f,Reco
0,2020-01-01 00:00:00,2020,1,1,0.0,1,-1.823,0.93385,0.037139,0.970984
1,2020-01-01 00:30:00,2020,1,1,0.5,1,-2.031,0.73878,0.217870,0.956651
2,2020-01-01 01:00:00,2020,1,1,1.0,1,-2.285,1.05920,-0.119840,0.939356
3,2020-01-01 01:30:00,2020,1,1,1.5,1,-2.342,0.58402,0.351130,0.935153
4,2020-01-01 02:00:00,2020,1,1,2.0,1,-2.487,0.56388,0.361290,0.925168
...,...,...,...,...,...,...,...,...,...,...
17563,2020-12-31 21:30:00,2020,12,31,21.5,366,0.726,0.89976,0.176740,1.076507
17564,2020-12-31 22:00:00,2020,12,31,22.0,366,0.725,0.89810,0.178560,1.076666
17565,2020-12-31 22:30:00,2020,12,31,22.5,366,0.653,0.89912,0.172990,1.072117
17566,2020-12-31 23:00:00,2020,12,31,23.0,366,0.515,0.89774,0.165460,1.063205
17567,2020-12-31 23:30:00,2020,12,31,23.5,366,0.447,0.89774,0.161190,1.058934